
@{
}

<div class="text-center">
    <h1 class="display-4">Shipment and Customer Adding Panel</h1>
    <small style="opacity:0.6">Courier Management System [Developed by piistech]</small>
    <hr />
</div>

<div style="display:grid; gap:20px">
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Shipment" asp-action="CustomerDetails">Deliver your parcel</a>
     <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="TrackParcel">Track your parcel</a>
</div>
