
@{
}

<div class="text-center">
    <h1 class="display-4">Shipment and Customer Adding Panel</h1>
    <small style="opacity:0.6">Courier Management System [Developed by piistech]</small>
    <hr />
</div>

<div style="display:grid; gap:20px">
    <button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" asp-area="" asp-controller="Shipment" asp-action="CustomerDetails">Deliver your parcel</a></button>
    <button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" href="#">Track your parcel</a></button>
</div>


