﻿@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <small style="opacity:0.6">Courier Management System [Developed by piistech]</small>
    <hr />

    <div style="display:grid; gap:10px;">
        <button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" asp-area="" asp-controller="Shipment" asp-action="Add">Add Shipments</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" asp-area="" asp-controller="Shipment" asp-action="ShipmentList">Shipment Information</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" asp-area="" asp-controller="Shipment" asp-action="ShipmentList">Search By Consignment ID</a>
            <br /><small style="opacity:0.6">[Only for the acknowledged Consignment ID]</small>
        </button>
    </div>
</div>